<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ServletConfig</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>com.servletcofigex.ServletConfig</servlet-class>

		<init-param>
			<param-name>name</param-name>
			<param-value>ram</param-value>
</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/aaa</url-pattern>
</servlet-mapping>
	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>com.servletcofigex.SecondServlet</servlet-class>

	

	</servlet>
	<servlet-mapping>
		<servlet-name>second</servlet-name>
		<url-pattern>/bbb</url-pattern>
</servlet-mapping>

<context-param>
	<param-name>name1</param-name>
	<param-value>Shayam</param-value>
</context-param>
<context-param>
	<param-name>name2</param-name>
	<param-value>Dhiraj</param-value>
</context-param>
	<servlet>
		<servlet-name>third</servlet-name>
		<servlet-class>com.servletcofigex.ThirdServlet</servlet-class>

	

	</servlet>
	<servlet-mapping>
		<servlet-name>third</servlet-name>
		<url-pattern>/ccc</url-pattern>
</servlet-mapping>

</web-app>